@charset "utf-8";
/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

p {
    max-width: 1920px;
    font-size: 15px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: #ffffff;
    font-size: 105px;
    margin-top: 20px;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: #e8d7fd;
    text-align: center;
    font-size: 65px;
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: #9e3de3;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h4 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #9e3de3;
    height: 40px;
    padding-top: 15px;
}

.botonera {
    width: 100%;
    height: 37px;
    background-color: #e0b5ff;
    text-align: center;
}

nav ul {
    list-style: none;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 6px;
}

.botonera a {
    text-decoration: none;
    font-size: 18px;
    color: #9e3de3;
    margin: 1220px 8px 0px 8px;
    padding: 6px 20px 10px 20px;
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.botonera a:hover {
    color: #fff;
    background-color: #BE81FB;
}

.botonera a:active {
    background-color: #D6A0D7;
    color: #fff;
}

nav ul li {
    display: inline;
}

#cabecera {
    width: 100%;
    height: 250px;
    background-color: #9e3de3;
}

#cabecera h1 {
    text-align: center;
}

#cabecera h3 {
    text-indent: 1000px;
}

.main {
    padding: 30px 90px;
    background-color: #e8d7fc;
    display: flex;
    flex-direction: row;
}

.FlexColumn {
    display: flex;
    flex-direction: column;
}

.fotoprofile {
    border-radius: 15px;
    margin-right: 25px; 
}

.caja1 {
    height: 200px;
    padding: 10px;
    max-width: 800px;
    display: flex;
}

.caja1 h3 {
    margin-bottom: 10px;
}

.FlexboxA {
    display: flex;
}

.FlexboxA div {
    width: 500px;
}

.FlexboxB {
    display: flex;
}

.FlexboxB div {
    width: 500px;
}

.caja2 {
    margin: 20px;
    font-size: 15px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.caja3 {
    margin: 20px;
    font-size: 15px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.caja4 {
    margin: 20px;
    font-size: 15px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.caja5 {
    margin: 20px;
    max-width: 1220px;
    font-size: 15px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.imagenanimacion {
    margin-bottom: 30px;
    margin-top: 20px;
    padding-top: 25px;
    border-top: 9px dotted white;
    display: flex;
    justify-content: center;
}

aside {
    display: flex;
    flex-direction: column;
    width: 572px;
    height: 744px;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-left: 90px;
    border-left: 6px solid white;
}

footer {
    background-color: #e8d7fc;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

